.flexslider .slides .bg-cover::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #83a4d4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #b6fbff, #83a4d4, transparent 30%, transparent 100%);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #b6fbff, #83a4d4, transparent 30%, transparent 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.flexslider .slides .content-slide-custom {
  position: relative;
  color: #fff;
}
.flexslider .slides .content-slide-custom .container-inner {
  vertical-align: bottom;
}
.flexslider .slides .content-slide-custom h1 {
  font-size: 50px;
  font-weight: 400;
}
.flexslider .slides .content-slide-custom a {
  color: #fff;
  border-color: #fff ;
}
.flexslider .slides .content-slide-custom a i {
  color: #fff;
}
